<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accountItem">
            <h2><span jhiTranslate="billcategorizerApp.accountItem.detail.title">Account Item</span> {{accountItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="billcategorizerApp.accountItem.date">Date</span></dt>
                <dd>
                    <span>{{accountItem.date}}</span>
                </dd>
                <dt><span jhiTranslate="billcategorizerApp.accountItem.transactionType">Transaction Type</span></dt>
                <dd>
                    <span>{{accountItem.transactionType}}</span>
                </dd>
                <dt><span jhiTranslate="billcategorizerApp.accountItem.description">Description</span></dt>
                <dd>
                    <span>{{accountItem.description}}</span>
                </dd>
                <dt><span jhiTranslate="billcategorizerApp.accountItem.amount">Amount</span></dt>
                <dd>
                    <span>{{accountItem.amount}}</span>
                </dd>
                <dt><span jhiTranslate="billcategorizerApp.accountItem.currency">Currency</span></dt>
                <dd>
                    <span>{{accountItem.currency}}</span>
                </dd>
                <dt><span jhiTranslate="billcategorizerApp.accountItem.category">Category</span></dt>
                <dd>
                    <span jhiTranslate="{{'billcategorizerApp.Category.' + accountItem.category}}">{{accountItem.category}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/account-item', accountItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
